<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="title">Invoice from {{name}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Start Day</th>
          <th>Start Time</th>
          <th>End Day</th>
          <th>End Time</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{dateStart}}</td>
          <td>{{finalDate}}</td>
          <td>{{shiftStart}}</td>
          <td>{{shiftEnd}}</td>
          <td>{{hours}}</td>
        </tr>
      </tbody>
    </table>
    <p>Your friends at ShiftJogger!</p>
  </div>
</body>

</html>